@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon/icomoon.eot?srf3rx");
  src: url("../fonts/icomoon/icomoon.eot?srf3rx#iefix") format("embedded-opentype"), url("../fonts/icomoon/icomoon.ttf?srf3rx") format("truetype"), url("../fonts/icomoon/icomoon.woff?srf3rx") format("woff"), url("../fonts/icomoon/icomoon.svg?srf3rx#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* =======================================================
*
* 	Template Style
*	Edit this section
*
* ======================================================= */
body {
  min-height: 100vh;
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
  color: #000;
  background: #fff;
  height: 100%;
  position: relative;
}
a {
  color: #000;
  -webkit-transition: 0.000s;
  -o-transition: 0.000s;
  transition: 0.000s;
}
a:hover, a:active, a:focus {
  color: black;
  outline: none;
  text-decoration: none;
}
p {
  margin-bottom: 1.5em;
}
h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 300;
  margin: 0 0 30px 0;
}
::-webkit-selection {
  color: black;
  background: RGB(183,201,226);
}
::-moz-selection {
  color: black;
  background: RGB(183,201,226);
}
::selection {
  color: black;
  background: #ededed;
}
.ron-section {
  justify-content: center;
  align-items: center;
  padding: 4% 0;
}
.ron-section p.ron-active a:hover {
  color: lightgray;
  font-weight: 400;
}
.ron-main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.ron-feature {
  text-align: left;
  float: left;
  padding: 2%;
  margin-left: 30%;
  width: 60%;
  margin-right: 30%;
}
.ron-feature a:hover a:active {
  color: black;
    font-weight: 400;
}
.ron-feature .ron-icon {
  float: left;
  width: 10%;
  max-width: 30%;
  margin-left: 30%;
  display: block;
  margin-top: 0px;
}
.ron-feature .ron-icon i {
  color: black;
  font-size: 50px;
}
.ron-feature.ron-feature-sm .ron-icon i {
  color: black;
  font-size: 15px;
}
.accordion > input[name="collapse"] {
  display: none;
  /*position: absolute;
  left: -100vw;*/
}
.accordion-handle a:hover{
  color: black;
}
.accordion label,
.accordion .content{
}
.accordion .content {
  overflow: hidden;
  height: 0;
  transition: .20s;
}
.accordion > input[name="collapse"]:checked ~ .content {
  height: 380px;
  transition: height .25s;
}
.accordion label {
}
/* For Desktop */
.accordion > input[name="collapse"]:checked ~ .content {
  height: auto;
}
.accordion a:hover {
  color: black;
}
.accordion > input[name="collapse"]:checked ~ .content {
  border-top: auto;
  transition: .35s;
}
.accordion .handle {
  margin: auto;
  font-size: auto;
}
.accordion label {
  cursor: pointer;
  font-weight: normal;
  user-select: none;
}
.accordion label:hover,
.accordion label:focus {
}
.accordion .handle label:before {
  font-size: ;
  line-height: 1.556em;
  vertical-align: middle;
  transition: .4s;
}
.accordion > input[name="collapse"]:checked ~ .handle label:before {
    transition: .4s;
}
.logo a:hover, a:active, a:focus {
  color: black;
  outline: none;
  text-decoration: none;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: ;
  margin-left: 15%;
  margin-right: 15%;
  min-height: 8vh;
}
.logo {
  padding: 0%;
  display: ;
  color: black;
  font-weight: 300;
  letter-spacing: 0px;
}
.nav-links {
  display: flex;
}
.nav-links li {
  margin-top: 0%;
  font-size: 15px;
  padding-right: 3px;
  padding-left: 3px;
  border-top: 0px solid transparent;
  list-style: none;
  display: flex;
}
.nav-links li a:hover {
  color: black;
  margin-top: -21px;
  padding-top: 19.5px;
  border-top: 1.75px solid black;
  transition: 0s;
}
.nav-links a {
  list-style: none;
  display: flex;
}
.burger{
  margin-top: 0%;
  display: none;
  cursor: pointer;
}
.burger div{
  width: 25px;
  height: 1.5px;
  background-color: black;
  margin: 5px;
}
.back {
  display: none;
}

@media screen and (max-width: 991px){
  .logo {
    padding: 0%;
    display: none;
  }
  .back:hover {
    background-color: #a2b8e8;
  }
  .gap {
    margin-left: 0px;
  }
  .back {
    display: block;
  }
  .nav-links {
    margin-left: 0%;
    margin-right: 10%;
    margin-top: 0%;
    margin-bottom: 0%;
    flex-direction: column;
  }
  .nav-links li:hover{
    background-color: #ededed;
  }
  .nav-links li {
    flex-direction: column;
    justify-content: center;
    font-size: 14px;
    border-bottom: .25px solid #BEC0C2;
    list-style: none;
    padding: 7.5px;
    min-width: 200px;
    max-width: 275px;
  }
  .nav-links li a:hover{
    color: ;
    border-top: none;
    border-bottom: none;
    margin-top: 0%;
    padding-top: 0%;
  }
  .nav-links div:hover {
    background-color: #ededed;
    color: black;
  }
  .burger{
    display: block;
  }
}
.toggle .line1 {
  transform: rotate(45deg) translate(3px, 6px);
  transition: transform 0.025s ease-in;
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(-45deg) translate(3px, -6px);
  transition: transform 0.025s ease-in;
}
hr.new1 {
  border-top: .25px solid #BEC0C2;
}
@media screen and (max-width: 991px){

}
details[open] summary ~ * {
  animation: open 0.3s ease-in-out;
}
@keyframes open {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
details summary::-webkit-details-marker {
  display: none;
}

.back1 {
min-width: 60px;
max-width: 95px;
}
.back2 {
  min-width: 50px;
max-width: 80px;
}
.back3 {
  min-width: 50px;

max-width: 80px;
}
.back4 {
  min-width: 60px;
max-width: 90px;
}
.back5 {
max-width: 90px;
}

@media screen and (max-width: 991px){
.back1 {
max-width: 115px;
}
.back2 {
max-width: 115px;
}
.back3 {
max-width: 115px;
}
.back4 {
max-width: 115px;
}
}
